

.footer {
  background: #5f97f3;
  color: #e5e7eb;
  padding: 50px 20px 20px;
  font-family: "Segoe UI", sans-serif;
}

.footer-wrapper {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Logo */
.footer-brand {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-brand img {
  height: 42px;
}

.footer-brand span {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  
}

/* Navigation */
.footer-nav {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  position: relative;
  transition: color 0.3s ease;
}

.footer-nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -6px;
  transition: width 0.3s ease;
}

.footer-nav a:hover {
  color: #ffffff;
}

.footer-nav a:hover::after {
  width: 100%;
}

/* Social */
.footer-social {
  display: flex;
  gap: 20px;
}

.footer-social a {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #38bdf8;
}

/* Copyright */
.footer-copy {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
  color: #000000;
  border-top: 1px solid #111827;
  padding-top: 15px;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column;
    text-align: center;
        color: #1f2d3d;
  }

  .footer-nav {
    flex-direction: column;
    gap: 15px;
  }
}
