article{
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
    transition: transform 0.3s ease;
margin-bottom: 20px;

   


}
article .post-thumb img{
       width: 180px;
    height: 120px;
    object-fit: cover;
    border-radius: 6px;
}


article .post-title a{

    font-size: 20px;
    margin: 8px 0;
    color: #111;
    cursor: pointer;
     margin: 8px 0;
}

article .post-excerpt p{

   font-size: 14px;
    color: #555;
    line-height: 1.5;
                        
}

.post-meta{

     font-size: 13px;
    color: #888;
}